.card {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
}

.card-title {
  border-bottom: 2px solid black;
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 800;
  font-size: 16px;
}
